.hidden {
  display: none;
  /* visibility: hidden; */
}

[id^="reportModal"] {
	float: right;
}

.text-black {
	color: black;
}

.report {
	padding: 0 3%;
	margin: 0;
	float: right;
	height: 3em;
	font-size: 0.6em;
}